.menu{
    width: 300px;
    height: 50px;
    border: 2px solid red;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 650px;
    position: fixed;
    visibility: hidden;
}
.menu a{
    color: black;
    text-decoration: none;
    
}

@media (max-width: 340px) {
    .menu{
        visibility: visible;
    }

}